@import "rsuite/dist/rsuite.css";


#div {
  margin-top: 30px;
  margin-right: 60px;
  margin-left: 60px;
  
}

.container {
  display: flex;
}
.title {
  margin-top: 20px;
  padding-left: 20px;
  text-align: left;
  margin-bottom: 1px;
  font-weight: bold;
}
