.bigcontainer{
    padding-top: 80px;
}

.container {
  margin-left: 102px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 170px;
  width: 1300px;
  background-color: white;
  border-radius: 50px;
}

.from{
  display: inline-block;
  margin-right: 600px;
}

.to{
  display: inline-block;
}

.airline{
  display: block;
  margin-top: 20px;
}

.date{
  display: inline-block;
  margin-top: 20px;
}

.img {
  position:absolute;
  left: 168px;
  width: 115px;
  height: 97px;
}

.button{
  position: absolute;
  right: 165px;
  background-color: #552280;
  border: none;
  color: white;
  text-decoration: none;
  border-radius: 98px;
  font-size: 25px;
  margin-top: -52px;
  width: 120px;
  height: 60px;
  transition: background-color 0.2s linear;
}

.button:hover {
  background-color: white;
  color: #552280;
  border: 0.2px solid black;
}

.modaldiv{
  width: 100vw;
  height: 100vh;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.33);
  top:0
}

.reservationdiv{
  position: absolute;
}

.btn {
  font: inherit;
  padding: 0.5rem 1.5rem;
  cursor: pointer;
  border-radius: 4px;
  background-color: #800040;
  color: white;
  border: 1px solid #800040;
  margin: 0 1rem;
}